:root {  font-family: monospace;}
body {  margin: 0;}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.box {
    padding: 1vw;
    margin: 2vw;
    box-shadow: 0vw 1vw 1vw 0.2vw lightgray;
    width: 90vw;
    background-color: lemonchiffon;

}
.whitebox {
    padding: 1vw;
    margin: 2vw;
    width: 90vw;
    border: solid lightgrey 1px;
    border-radius: 10vw;
}
.box:hover {
    box-shadow: 1vw 1vw 2vw 1vw lightgray;
}
h1, h2 {
    color: salmon;
}
h3 {
    color: grey;
}
input {
    margin: 1vw;
    text-align: left;
}
a {
    text-decoration: none;
    color: grey;
}
form {
    text-align: center;
}
label {
    display: inline-block;
    width: 20vw;
    text-align: right;
    color: grey;
}
ul {
    list-style: none;
    padding-left: 0;
}
button {
    margin: 1vh;
}
